@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('./font/NotoSansSC-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    src: url('./font/NotoSansSC-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 900;
    src: url('./font/NotoSansSC-Black.otf') format('opentype');
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    /* 常规使用 400 */
}

strong {
    font-weight: 900;
}


@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: 'JetBrainsMono';
    font-display: swap;
    src: url('./font/JetBrainsMono-Bold-7.ttf') format('truetype');
}