@font-face {
  font-family: "iconfont";
  /* Project id 4922066 */
  /* Color fonts */
  src:
    url('./icon/iconfont.woff2') format('woff2'),
    url('./icon/iconfont.woff') format('woff'),
    url('./icon/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e673";
}

.icon-shijianzhou:before {
  content: "\e615";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-biaoqian:before {
  content: "\e608";
}

.icon-github:before {
  content: "\e600";
}

.icon-ORCID:before {
  content: "\e60c";
}

.icon-tengxunyouxiang:before {
  content: "\e609";
}